In [4]:
# Import Dependencies
import pandas as pd

In [16]:
# Create a DataFrame of frames using a dictionary of lists

data_dict = {
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard", "Rigby", "Cealin"],
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00, 1000, None],
    "Sales": [100, 200, 150, 300, "N/A", 500, None]
}

frame_df = pd.DataFrame(data_dict)
frame_df

       Frame   Price Sales
0     Ornate    15.0   100
1  Classical    12.5   200
2     Modern    10.0   150
3       Wood     5.0   300
4  Cardboard     1.0   N/A
5      Rigby  1000.0   500
6     Cealin     NaN  None

In [20]:
# Create a DataFrame of paintings using a list of dictionaries

paintings = [
    {"Painting": "Mona Lisa (Knockoff)", "Price": 25, "Popularity": "Very Popular"},
    {"Painting": "Van Gogh (Knockoff)", "Price": 20, "Popularity": "Popular", "Dart Rating": 10},
    {"Painting": "Starving Artist", "Price": 10, "Popularity": "Average"},
    {"Painting": "Toddler Drawing", "Price": 1, "Popularity": "Not Popular", "Dart Rating": 8},
    {"Painting": "Rigby", "Dart Rating": 10}
]

painting_df = pd.DataFrame(paintings)
painting_df

               Painting  Price    Popularity  Dart Rating
0  Mona Lisa (Knockoff)   25.0  Very Popular          NaN
1   Van Gogh (Knockoff)   20.0       Popular         10.0
2       Starving Artist   10.0       Average          NaN
3       Toddler Drawing    1.0   Not Popular          8.0
4                 Rigby    NaN           NaN         10.0